 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/islammashaly_httpss.mj.runHv0y0lqEIUQ_The_sliders_moving_and__86049ee0-538b-4e07-8c40-658641d9939c_1.gif');
  background-size: auto 150%, auto 80%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 240px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 1px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 45px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 111px;
    margin-right: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 744px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 150%, auto 60%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 163px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }
}